<section>
    <div class="container">
        <a class="anchor" id="hiring-process"></a>
        <h2>
            Reengineering your hiring process
        </h2>
    </div>
</section>

<%- include('0_process.ejs') %>
<%- include('1_call.ejs') %>
<%- include('2_challenge.ejs') %>
<%- include('3_interview.ejs') %>
<%- include('4_offer.ejs') %>
