<section>
    <div class="container">
        <a class="anchor" id="traditional-assessment-methods"></a>
        <h2>
            Traditional assessment methods
        </h2>
    </div>
</section>

<%- include('0_current_methods.ejs') %>
<%- include('1_take_home.ejs') %>
<%- include('2_online_programming.ejs') %>
<%- include('3_pairing.ejs') %>
<%- include('4_questions_f2f.ejs') %>
<%- include('5_questions_online.ejs') %>
<%- include('6_whiteboarding.ejs') %>