<%- include('0_top/0_header.ejs') %>

<section data-aos="fade-up" data-aos-delay="200">
<%- include('1_how_it_works/0_section_intro.ejs') %>
<%- include('1_how_it_works/1_incremental_challenge.ejs') %>
<%- include('1_how_it_works/2_identify_best_devs.ejs') %>
<%- include('1_how_it_works/3_supported_languages.ejs') %>
</section>

<section data-aos="fade-up" data-aos-delay="200">
<%- include('3_process/0_section_intro.ejs') %>
<%- include('3_process/1_process.ejs') %>
<%- include('3_process/2_report.ejs') %>
</section>

<section data-aos="fade-up" data-aos-delay="200">
<%- include('4_results/0_section_intro.ejs') %>
<%- include('4_results/1_faster_better_decisions.ejs') %>
</section>

<section data-aos="fade" data-aos-delay="200">
<%- include('../../components/content/book_call_card.ejs') %>
</section>

